
body {
  font-family: "Open Sans", sans-serif;
}

.card-title, h2 {
  font: 500 1.25rem "Lobster", cursive;
  text-align: center;
  color: #4747c2;
}

.btn-navbar {
  background: #4747c2;
}

.position {
  background: #4747c2;
  color: white;
}

.footer-date {
  background: #4747c2;
  color: white;
}

.logo-img {
  height: 60px;
  display: block;
  border-radius: 50%;
  padding: 2px;
}
.modal-header {
  background: #4747c2;
  color: white;
}

.btn-modal {
  background: #4747c2;
}
.underline {
  text-decoration-line: underline;
}
.row-content {
  padding: 30px 0;
  border-bottom:  1 ridge;
  min-height: 200px;
}

.jumbotron {
  margin: 0;
  padding: 25px;
  background-color: #4747c2;
  color: white;
}
.particles {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 10px;
}
.fullName {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 65%;
  right: 0;
  transform: translate(-50%, -50%);
}

.gmail {
  position: absolute;
  text-align: center;
  top: 80px;
  left: 65%;
  right: 0;
  transform: translate(-50%, -50%);
}

.navbar-dark {
    background-color: #3046C5;
}

.portfolio-footer {
  background-image: linear-gradient(#5637DD, #3046C5, #2f5572);
  padding: 25px 0;
}

.progress-bar {
  width: 100%;
}

.red {
  height: 100px;
  width: 100px;
  padding: 10px;
}